* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body * {
  flex: auto;
}

.section-main, footer { 
  background-color: #1F2937;
}

aside.quote {
  background-color: #e5e7eb;
}

section.sign-up {
  background-color: #3882F6;
}