* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

body > * {
  flex: auto;
  padding: 0 250px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
}

.section-main, footer { 
  background-color: #1F2937;
  color: #e5E7EB;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.section-main h2 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

nav > h1 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav > ul > li {
  padding: 0 16px;
}

main {
  display: flex;
  padding-bottom: 96px;
  justify-content: center;
}

main > .hero-text {
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text > p {
  padding-bottom: 16px;
  max-width: 350px;
}

.hero-text > button {
  width: 96px;
  flex: 0 0 auto;
  background-color: #3882F6;
  border: 0;
  color: #f9faf8;
}

main > img {
  max-width: 500px;
}

.section-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-information > h2 {
  padding: 56px 0;
}

.icons {
  display: flex;
  padding-bottom: 40px;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
}

.icon > img {
  width: 80px;
  padding-bottom: 8px;
  
}

.quote {
  background-color: #e5e7eb;
  padding: 40px 300px;
}

.quote-text {
  font-size: 32px;
  font-weight: 300;
}

.quote-attribution {
  font-weight: bold;
  text-align: right;
}

.section-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

section.signup {
  background-color: #3882F6;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  flex: auto;
  gap: 300px;
  border-radius: 8px;
  align-items: center;
}

.signup > button {
  background-color: #3882F6;
  border: 2px solid #f9faf8;
  color: #f9faf8;
}

footer {
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}